*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# 🔐 Android signing
*.keystore
*.jks
*.bks
*.p12
*.keystore.b64
release.keystore
moneytrack-release.keystore
